# Visual Studio-related files
.vs/
.vscode/

# Build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and temporary files
*.log
*.tlog
*.ide.log
*.tmp
*.temp
*.cache
*.pdb

# Dependency directories
packages/
node_modules/

# Configuration files
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Publish output
publish/
wwwroot/

# Rider/JetBrains IDE files
.idea/
*.iml

# Resharper files
_ReSharper*/
*.DotSettings.user

# NuGet-related files
*.nupkg
project.lock.json
project.fragment.lock.json

# Other
*.DS_Store
Thumbs.db

/recipesharingplatrform-firebase-adminsdk-fbsvc-1d4b3da776.json
/client_secret_483376807658-o18uof4c2ckoma0deo3u0gnln4himtea.apps.googleusercontent.com.json
/firebase_credentials_base64.txt